.search {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.react-select {
    color: black;
    width: 300px;
    margin: 20px 0px 0px 0px;
}

.btn-filters {
    margin: 10px;
    display: flex;
}

.btn-filter-content {
    display: flex;
}

.projects-div {
    justify-content: center;
    align-self: center; 
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
}

.image-content {
    width: 100%;
    height: 100%;
}
